body {
  text-align: center;
  background-color: #3d3d3d;
}

/* video game font text */
#level-title {
  font-family: 'Oxanium', cursive;
  font-size: 2.5rem;
  margin: 4%;
  color: #f7f1e3;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 5px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid #34495e;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ff4d4d;
  border-radius: 10% 0% 10% 100%;
}

.green {
  background-color: #32ff7e;
  border-radius: 0% 10% 100% 10%;

}

.blue {
  background-color: #18dcff;
  border-radius: 100% 10% 0% 10%;
}

.yellow {
  background-color: #fffa65;
  border-radius: 10% 100% 10% 0%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}